# FastApi Configuration
APP_ENV=
CORS_ORIGINS=
MAINTAINER_MAIL_ADDRESS=
# Database Type Configuration
DB_TYPE=sqlite
SQLITE_DB_PATH=./data/qwen_chat.db
# Postgres Database Configuration
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SSL=
DB_CONNECTION_POOL=
DB_ASYNC_CONNECTION=
## Postgres Server Configuration
TEST_DB_HOST=
TEST_DB_PORT=
TEST_DB_USER=
TEST_DB_PASSWORD=
TEST_DB_NAME=
# Redis Server Configuration
REDIS_SERVER=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_DB=0
#REDIS_SENTINEL=
#REDIS_SENTINEL_MASTER=
# Rabbitmq Server Configuration
RMQ_SERVER=
RMQ_PORT=
RMQ_USER=
RMQ_PASSWORD=
RMQ_VHOST=
# Mail Server Configuration
MAIL_SERVER=
MAIL_SERVER_PORT=
DEFAULT_MAIL_SENDER=
DEFAULT_MAIL_SENDER_ADDRESS=
DEFAULT_MAIL_SENDER_PASSWORD=
# Keycloak Configuration
KEYCLOAK_URI=
KEYCLOAK_REALM=
JWT_PUBLIC_KEY=
# Kafka Configuration
KAFKA_BOOTSTRAP_SERVERS=
KAFKA_SERVER_USERNAME=
KAFKA_SERVER_PASSWORD=
KAFKA_SUBSCRIPTION=

# Ollama Configuration
OLLAMA_HOST=http://localhost:11434
OLLAMA_DEFAULT_MODELS=qwen3:1.7b,deepseek-r1:1.5b
OLLAMA_TIMEOUT=120